body {
    background-color: #fff;
}
.billing-details-cards {
    min-height: 220px;
}

.table-responsive .table th:last-child, .table-responsive .table td:last-child {
    min-width: auto !important;
}

.billing-head-table.border-primary {
    border-color: none !important;
}

.badge, .theTable .badge, .theTable td:last-child  {
    color:  #ffffff !important;        
  }

.white-text {
    color: #fff !important;
}
  
// .customer-management-card {
//     min-height: 200px;
// }