.pc-container {
    margin-left: auto !important;
}

.table-responsive .table th:last-child, .table-responsive .table td:last-child {
    min-width: auto !important;
}

.pc-container .pc-content {
    padding-left: 0px !important;
}

.layout-collapse .pc-sidebar {
    display: none !important
}

.pc-header {
    display:none !important
}
.ticket-breadcrumbs-title .breadcrumb {
    margin: 0px !important;
    padding: 0px !important;
}
.badge.bg-secondary {
    // background: rgb(104 124 213) !important;
    background:  #a8dfca !important;
  }
  
 
  .table-responsive .table th:first-child, .table-responsive .table td:first-child {
    min-width: auto !important;
  }

 .margin-minus-10 {
    margin-top: -25px !important;
}
.card-body .bg-opacity-10.badge {
    --bs-bg-opacity: 0.5 !important;
}

.form-check-input[type=checkbox] {
    border-radius: 0px !important;
}

input.form-control.form-control-sm {
    height: 38px !important;
}

input#includeAssignedRecords {
    border-radius: 2em !important;
}