.settings-user-defaults-wrapper input, .settings-user-defaults-wrapper select, .settings-general-tab-content-wrapper input, .settings-general-tab-content-wrapper select {
    width: 450px !important;
    height: 40px !important;
    font-weight: 300 !important;
    font-size: 16px !important;
    color: #141414 !important;
   
}
.generic-table-card {
    border: none !important;
    
}
.generic-table-responsive {
    margin: 14px 0 !important;
    box-shadow: none !important;
    border-radius: 0 !important;
    width: 100% !important;
    margin-top: 0px !important;
    
}
.gt-filter-pills {
    padding-bottom: 13px !important;
}

.generic-table-td button {
    border: none;
    color: #141414;
}
.action-buttons button {
    padding: 9px 13px;
    
    border-radius: 4px !important;
    font-size: 12px !important;
    font-weight: 500 !important;
    background: rgb(0, 0, 0) !important;
    color: rgb(255, 255, 255);
}
div:has(> .generic-table-container) {
    padding: 0px !important;
  }